## Editors
*~
.*.sw[op]
.project
.idea
.pydevproject
.vscode

## VCS
/.bzr

## Python
/.eggs
/.pytest_cache
/.venv
/bin
/include
/lib
/lib64
/pyvenv.cfg
*.pyc
*.egg-info
/build
terminatorc
remotinatorc
terminatorlib/meliae
/dist
/MANIFEST
/install-files.txt

## language / intltool related files
.intltool*
data/terminator.appdata.xml
data/terminator.desktop
data/terminator.metainfo.xml
